body {
    margin: 0;
    
} 
    
} 
header {
   
 height: 130px;
 background-image: url('images/header.jpg');
 background-size: cover;;
 background-position: 25% 75%;
 text-align: center;
 border: 4px solid red;
 display: flex;
 flex-direction: column;
 justify-content:center;
 margin-bottom: 10px;

}

#name {
width: 169.28px;
height: 24px;
left: 46.07px;
font-family: 'Smythe';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 24px;
color: #FFFFFF;
}

#tagline {
 margin-top:39px;
 width: 275.46px;
 height: 10px;
 font-family: 'Smythe';
 font-style: normal;
 font-weight: 400;
 font-size: 18.4216px;
 position:absolute; 
 left:-15px;
/* or 62% */
 color: #FFFFFF;
}


#emoji {
width: 53px;
font-size: 38.72px;
height: 140px;
margin-top: 20px;
margin-left: 10px;




}


#ingredients {


    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
    padding-bottom: 10px;

}

#item {
    bottom: 90px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    font-family: 'Smythe';
    font-style: normal;
   
     margin-left: 10%;
     margin-top: 25px;
   
  
    
}

#item-name {

    font-weight: 400;
    font-size: 28px;  
}

#menu {
    display: flex;
    flex-direction: column;
  

}

#left-side-emoji {
  
    font-size:4.5rem;
    padding-right: 15px;
}

#right-side {

   width: 100%;
   padding-bottom: 50px;  
   
    
}

.price {
   font-weight: 400;
   font-size: 20px;
}

#order-icon {
    
width: 60px;
height: 60px;
margin-right: 40px;
margin-top: 1px;
   
    
}


hr {
    
    

border-left: 25rem solid;
color: lightgrey;
}
